.truncated {
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    line-clamp: 3; 
    height: 4.5em; 
    line-height: 1.5em; 
}